<h1>This is our Home page</h1>
<% @questions.each do |question| %>
<% if current_user %>
<%= erb :'/partials/_votes' %>

<% end %>
  <a href="/questions/<%= question.id %>"> <%= question.title %> </a>
  <p>Question Asked By: <%= question.user.username%>  </p>
  <%end%>
