.homepage {
  /*background-color:  black;*/

  }

  .home-vote-buttons {
    /*text-align: center;*/
    display: inline-block;
    max-width: 20%;
    /*border: 1px solid green;*/
    margin: 5px;
    vertical-align: top;
    text-align: center;
    padding-top: 5%;
  }


  .home-post-body{
    display: inline-block;
    width: 50%;
    /*border: 1px solid red;*/
    margin-top: 10%;

   }

  .home-post{
    /*border: 1px solid black;*/
    margin: 5px;
    width: 70%;
  }

.home-hr{
    height: 1.5px;
    background-color:  #009688 ;
    width: 200%;
    text-align: left;
  }














.vote-buttons {
  /*text-align: center;*/
  display: inline-block;
  max-width: 20%;
  /*border: 1px solid green;*/
  margin: 5px;
  vertical-align: top;
  text-align: center;
  padding-top: 5%;

}

.post-body{
  display: inline-block;
  width: 50%;
  /*border: 1px solid red;*/
  margin: 5px;

 }

.post{
  /*border: 1px solid black;*/
  margin: 5px;
  width: 70%;

}

.question {
  /*border: 1px solid black;*/

}

.answer {
  /*border: 1px solid orange;*/

}

hr{
  height: 2.5px;
  background-color:  #009688 ;
  width: 50%;
}
