<br><br><br>
<center>
<div class="container">
  <form class="" action="/questions/<%=@question.id%>/answers" method="post">
    <div class="">
      <label for="description">Description:</label>
      <input type="text" name="answer[description]"  placeholder="Be specific." id='description'>
    </div>

    <input type="submit" name="" value="Post Your Answer">
  </form>
</div>
</center>
