<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/normalize.css">
<!--
  application.css is where you put your styles
-->
  <link rel="stylesheet" href="/css/skeleton.css">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/css/normalize.css?app=skills">
    <link rel="stylesheet" href="/css/application.css?app=skills">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>


    <title></title>
</head>

<body class='Site'>

  <nav>
   <div class="nav" >
     <a href="/" >Fuschia Future Foxes Overflow</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <% if current_user %>
         <li><a href="/questions/new">Post Question</a></li>
         <li><a href="/users/profile"><%=current_user.username%>'s Profile</a></li>
         <li><a href="/users/logout">Logout</a></li>
       <% else %>
       <li><a href="/users/login">Log In</a></li>
       <li><a href="/users/new">Sign Up</a></li>
       <% end%>
     </ul>
   </div>
 </nav>
  <%= yield %>
</body>
</html>
